---
layout: page
title: Publications
subtitle: Our most recent publications!
---

<div>
  
  {% assign publications = site.publications %}
  <ul class="posts-list list-unstyled" role="list">
    {% for publication in publications reversed %}
      <li class="post-preview"><article>
            
        {%- capture thumbnail -%}
          {% if publication.thumbnail-img %}
            {{ publication.thumbnail-img }}
          {% elsif publication.cover-img %}
            {% if publication.cover-img.first %}
              {{ publication.cover-img[0].first.first }}
            {% else %}
              {{ publication.cover-img }}
            {% endif %}
          {% else %}
          {% endif %}
        {% endcapture %}
        {% assign thumbnail=thumbnail | strip %}
        {% if site.feed_show_excerpt == false %}
          {% if thumbnail != "" %}
          <div class="post-image post-image-normal">
            <a href="{{ publication.article_link | absolute_url }}" aria-label="Thumbnail" target="_blank">
              <img src="{{ thumbnail | absolute_url }}" alt="Post thumbnail">
            </a>
          </div>
          {% endif %}
        {% endif %}
        
        <a href="{{ publication.article_link }}">
          <h2 class="post-title">{{ publication.title }}</h2
        </a>

        {% if publication.authors %}
          <span><strong>{{ publication.authors }}</strong></span>
        {% endif %}
        
        {% if publication.journal %}
          <p class="post-meta">{{ publication.journal }}</p>
        {% endif %}

        {% if thumbnail != "" %}
          <div class="post-image post-image-small">
            <a href="{{ publication.article_link | absolute_url }}" aria-label="Thumbnail" target="_blank">
              <img src="{{ thumbnail | absolute_url }}" alt="Post thumbnail">
            </a>
          </div>
        {% endif %}
    
        {% unless site.feed_show_excerpt == false %}
          {% if thumbnail != "" %}
            <div class="post-image post-image-short">
              <a href="{{ publication.article_link | absolute_url }}" aria-label="Thumbnail" target="_blank">
                <img src="{{ thumbnail | absolute_url }}" alt="Post thumbnail">
              </a>
            </div>
          {% endif %}
    
          <div class="post-entry">
            {{ publication.abstract | strip_html }}
            <a href="{{ publication.article_link | absolute_url }}" class="post-read-more" target="_blank">[Read&nbsp;Article]</a>
          </div>
        {% endunless %}
            
      </article></li>
    {% endfor %}
  </u>
</div>
