---
layout: page
title: page.name
subtitle: page.position
---

{% if page.image %}
  <div class="text-center">
    <img src="https://stefsmlab.github.io/assets/img/people/{{ page.image }}" style="width: 400px; border-radius: 15%;"/>
  </div>
{% endif %}

{% if page.research_interest %} 
  <p>
    {{ page.research_interest }}
  </p>
{% endif %}

<h3>Contacts and information</h3>

<ul class="list-inline text-left footer-links">
  
  {% if page.email %}
    <li class="list-inline-item">
      <a href="mailto:{{ page.email }}" title="Email me">
        <span class="fa-stack fa-lg" aria-hidden="true">
          <i class="fas fa-circle fa-stack-2x"></i>
          <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
        </span>
        <span class="sr-only">Email me</span>
      </a>
    </li>
  {% endif %}
  
</ul>
