---
layout: page
title: page.name
subtitle: page.position
---

<!-- --------------------- IMAGE ---------------------  -->

{% if page.image %}
  <div class="text-center">
    <img src="https://stefsmlab.github.io/assets/img/people/{{ page.image }}" style="width: 400px; border-radius: 15%;"/>
  </div>
{% endif %}

<!-- --------------------- RESEARCH INTERESTS ---------------------  -->

{% if page.research_interest %} 
  <p>
    {{ page.research_interest }}
  </p>
{% endif %}

<!-- --------------------- CONTACTS AND INFORMATION ---------------------  -->

<h3>Contacts and information</h3>

<ul class="list-inline text-left footer-links">
  
  {% if page.email %}
    <li class="list-inline-item">
      <a href="mailto:{{ page.email }}" title="Email me">
        <span class="fa-stack fa-lg" aria-hidden="true">
          <i class="fas fa-circle fa-stack-2x"></i>
          <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
        </span>
        <span class="sr-only">Email me</span>
      </a>
    </li>
  {% endif %}
  
  {% if page.twitter %}
    <li class="list-inline-item">
      <a href="https://twitter.com/{{ page.twitter }}" title="Twitter" target="_blank">
        <span class="fa-stack fa-lg" aria-hidden="true">
          <i class="fas fa-circle fa-stack-2x"></i>
          <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
        </span>
        <span class="sr-only">Twitter</span>
      </a>
    </li>
  {% endif %}

  {% if page.googlescholar %}
    <li class="list-inline-item">
      <a href="{{ page.googlescholar }}" title="Google Scholar" target="_blank">
        <span class="fa-stack fa-lg" aria-hidden="true">
          <i class="fas fa-circle fa-stack-2x"></i>
          <i class="fa fa-graduation-cap fa-stack-1x fa-inverse"></i>
        </span>
        <span class="sr-only">Google Scholar</span>
      </a>
    </li>
  {% endif %}

  {% if page.cv %}
    <li class="list-inline-item">
      <a href="https://stefsmlab.github.io/assets/docs/people/{{ page.cv }}" title="Curriculum Vitae" target="_blank">
        <span class="fa-stack fa-lg" aria-hidden="true">
          <i class="fas fa-circle fa-stack-2x"></i>
          <i class="fa fa-portrait fa-stack-1x fa-inverse"></i>
        </span>
        <span class="sr-only">Curriculum Vitae</span>
      </a>
    </li>
  {% endif %}
  
</ul>

<!-- --------------------- PUBLICATIONS ---------------------  -->

<h3>Publications</h3>

<div class="full-tags-list post-list">
    {% for publication in site.publications reversed %}
        {% if publication.authors contains page.name %}
          <div class="tag-entry">
              <a href="{{ publication.url | relative_url }}">{{- publication.title | strip_html -}}</a>
              <div class="entry-date">        
                {% if publication.authors %}
                  <span><strong>{{ publication.authors }}</strong></span>
                {% endif %}
                <p class="post-meta" style="margin-top: 0;">{{ publication.journal }}</p>
              </div>
          </div>
      {% endif %}
    {%- endfor -%}
</div>
